html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  /* Center Container */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Coloring */
  background: rgb(205, 230, 176);
}

.container {
  width: 400px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  background: white;
}

.title-box {
  background-color: powderblue;
  height: 8%;
  font-size: 24px;
  padding-top: 10px;
  padding-left: 20px;
}

.input-box {
  background-color: powderblue;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-box {
  height: 40%;
  background-color: yellow;
  overflow: auto;
}

.done-list-box {
  height: 40%;
  background-color: pink;
  overflow: auto;
}

#todo-input {
  border: none;
  border-radius: 15px;
  padding: 5%;
  height: 60%;
  width: 80%;
  margin: 5px;
}

#addTodoBtn,
#addTodoBtn:hover {
  border: none;
  background: none;
  border-radius: 10px;
  height: 60%;
  margin: 5px;
  cursor: pointer;
}

ul {
  font-size: 20px;
}

li,
li:hover {
  margin: 10px;
  cursor: pointer;
}

:focus {
  outline: none;
}

.doneTodo {
  color: lightgray;
  text-decoration: line-through;
}

.delete-btn {
  background-image: url('img/bin.png');
  background-size: cover;
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
}

#done-list li {
  text-decoration: line-through;
  color: white;
}
